@import "../../vendor/filament/filament/resources/css/index.css";


/* Custom Filament styles */
@layer components {
  .border-stripe {
    position: relative;
  }

  .border-stripe:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.75em;
    background: var(--stripe);
  }
  
  .fi-ta-actions {
    @apply justify-end;
  }

  .fi-fo-wizard-header{
    @apply flex flex-col sm:flex-row;
  }

  .fi-fo-wizard-header-step{
    flex: 1;
  }
}

:root {
  --cmc-orange: #e5771e;
  --cmc-yellow: #ffe28a;
  --cmc-blue: #003b5c;
  --cmc-light-blue: #B8DDE1;
  --speaker-case: oklch(var(--p));
  --speaker-fill: oklch(var(--a));
  --sound-lines: oklch(var(--s));
  --speaker-front: oklch(var(--b3));

  --stripe: linear-gradient(
    to bottom,
    oklch(var(--s)) 0%,
    oklch(var(--s)) 33%,
    oklch(var(--wa)) 33%,
    oklch(var(--wa)) 66%,
    oklch(var(--er)) 66%,
    oklch(var(--er)) 100%
  );
}
