@import "./common.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.border-stripe:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.75em;
  background: var(--stripe);
}

